<ul id="steps">
  <li<% if sublink == 1 %> class="on"<% end %>><a href="<%=assetpayments_path%>"><span>1</span> Data Pembelian Aset</a></li>
  <li class="separator"><i class="icon-chevron-right"></i></li>
  <li<% if sublink == 2 %> class="on"<% end %>><a href="/assetpayments/index_confirmed"><span>2</span> Data Pembayaran Aset</a></li>
</ul>