.rvmrc
.sass-cache/*
*.DS_Store*
test/*
tmp/*
log/*
vendor/cache/*
db/data*
db/schema.rb
public/data/*
public/system/*
public/assets/*
Gemfile.lock
config/initializers/monkey.rb
config/initializers/postgresql_adapter_monkeypatch.rb
.ruby-version