<%= render "shared/header" %>
<%= render "shared/section" %>

<div id="main">
	
	<div id="nav">
		<br />
		<h3>Import Spreadsheet</h3>
	</div>

	<div id="mid">
		<h1>Google Docs</h1>

		<div id="content">

			<form action="" method="post">
			
			<div class="field-row">
				<label for="gkey">Google Key</label>
				<input type="text" name="gkey" placeholder="Enter Google Key" value="" />
			</div>

			<div class="actions">
				<input type="submit" class="submit" value="Submit" />
			</div>

			</form>

		</div>

	</div>

</div>