<div class="field-row">
	<label for="customer_id">Pelanggan</label>
	<select id="invoice_customer_id" name="invoice[customer_id]" class="double combo_route chzn-select" onchange="javascript:getRoutes(this.value);">
		<option value="0">- Pelanggan -</option>
		<% @customers.each do |customer| %>
		<option value="<%=customer.id%>"><%=customer.name%> - <%=customer.city.upcase%></option>
		<% end %>
	</select>
</div>