<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">
	
	<div id="content-full">
		<a class="btn-txt cancel" href="/invoices/indexadd"><i class="icon-remove"></i> Batal</a>

		<h1>Transaksi / <a href="/invoices/indexadd">BKK Tambahan</a> / Tambah</h1>

		<br class="clearfix" />

		<%= render "form-additional" %>

		<br class="clearfix" />

	</div>

</div>