<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">
	
	<div id="content-full">
		<a class="btn-txt cancel" href="/invoices/add_container"><i class="icon-remove"></i> Batal</a>

		<h1>OPS / <a href="/invoices/add_container">Edit Kontainer - Isotank</a> / Edit</h1>

		<br class="clearfix" />

		<%= render "form-container" %>

		<br class="clearfix" />

	</div>

</div>