<style type="text/css">tr.deleted {display: none;} #deleted-checkbox {float:left; width:100%}</style>
<div id="deleted-checkbox" class="l-bbox">
  <label class="checkbox"><input type="checkbox" name="checked-deleted" class="toggle-deleted" /> Tampilkan data dihapus.</label>
</div>