<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">

	<div id="content-full">

		<h1>Transaksi / <a href="<%=invoicetrains_path%>">Bukti Kas Keluar Truk via Kereta</a> / Edit</h1>

		<br class="clearfix" />

		<%= render "form" %>

		<br class="clearfix" />

	</div>

</div>
