<ul id="steps">
  <li<% if sublink == 1 %> class="on"<% end %>><a href="<%=payrollreturns_path%>"><span>1</span> BKK Supir</a></li>
  <li class="separator"><i class="icon-chevron-right"></i></li>
  <li<% if sublink == 2 %> class="on"<% end %>><a href="/payrollreturns/index_confirmed"><span>2</span> BKM Supir</a></li>
</ul>