<div class="row nested_fields" style="margin-top: 0.5rem;">
    <label>Nomor SO</label>
    <div style="display: flex; justify-content: space-between;">
        <input type="text" name="so_number[]" class="so_number" value="<%= @item.long_id rescue nil %>" class="" style="width: 80%; ">
        <button type="button" class="btn-delete-so icon-trash"><i class="fa fa-trash"></i></button>
    </div>
</div>
