<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">
	
	<div id="content-full">
		<a class="btn-txt cancel" href="/invoices/add_dovendor"><i class="icon-remove"></i> Batal</a>

		<h1>OPS / <a href="/invoices/add_dovendor">DO Vendor</a> / Tambah</h1>
		<p>Data Pelanggan, Jurusan Pelanggan, Vendor, Jurusan Vendor, dan Komoditas di halaman ini didapatkan dari Indolintas 8 Cemerlang.</p>

		<br class="clearfix" />

		<%= render "form-dovendor" %>

		<br class="clearfix" />

	</div>

</div>