<ul id="steps">
  <li<% if sublink == 1 %> class="on"<% end %>><a href="/invoicereturns/train"><span>1</span> Data BKK Kereta</a></li>
  <li class="separator"><i class="icon-chevron-right"></i></li>
  <li<% if sublink == 2 %> class="on"<% end %>><a href="/invoicereturns/index_confirmedtrain"><span>2</span> Data BKM Kereta</a></li>
</ul>