<ul id="steps">
  <li<% if sublink == 1 %> class="on"<% end %>><a href="<%=invoicereturns_path%>"><span>1</span> Data BKK</a></li>
  <li class="separator"><i class="icon-chevron-right"></i></li>
  <li<% if sublink == 2 %> class="on"<% end %>><a href="/invoicereturns/index_confirmed"><span>2</span> Data BKM</a></li>
</ul>