<ul id="steps">
  <li<% if step == 1 %> class="on"<% end %>><a href="/dashboards/incomes-vehicle"><span>1</span> Grafik Pemasukan</a></li>
  <li class="separator"><i class="icon-chevron-right"></i></li>
  <li<% if step == 2 %> class="on"<% end %>><a href="/dashboards/expenses-vehicle"><span>2</span> Grafik Pengeluaran</a></li>
</ul>
