<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">
	<div id="content-full">
		<a class="btn-txt cancel" href="<%=edit_customer_path(@customer)%>/#2"><i class="icon-remove"></i> Kembali Ke Pelanggan</a>

		<h1>Pelanggan / Jurusan / Tambah Lokasi Jurusan</h1>

		<%= render "form" %>
		<br class="clearfix" />
	</div>
</div>
