<%= render "shared/header" %>
<%= render :partial => "shared/section" %>

<div id="main">
	
	<div id="nav">
		<ul>
			<li class="on"><a href="#">Index</a></li>
			<li class="pad"><a class="btn-txt" href="#"><i class="icon-plus"></i> Tambah</a></li>
			<li><a href="#">Grup Data</a></li>
		</ul>
	</div>

	<div id="mid">
		<h1>Masters</h1>

		<div id="content">
			
		</div>
	</div>

</div>

