<%= render "shared/header" %>
<%= render :partial => "shared/section" %>

<div id="main">
	
	<div id="content-full">
		<h1>Not Authorized</h1>

		<div class="field-row continue">
			<h2 class="red">Maaf Anda tidak berhak untuk mengakses halaman ini. <br/><br/></h2>

			<div class="field-row continue">
				<a class="submit" href="<%=root_url%>">Kembali ke Dashboard</a>
			</div>
		</div>
	</div>

	

</div>