<%= content_for :css do %>
<style>
    #main #filter {
        height: 46px;
    }

    .flex {
        display: flex;
        align-items: center;
    }
</style>
<% end %>
<%= render "shared/header" %>

<div id="nav">
    <%= render "shared/nav" %>
</div>

<div id="main">

== under construction ==

</div>